@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

/*Byly .wrapper u sidebaru*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    background: #f2f2f2;
}

.sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    background-color: #1b1b1b;
    padding: 30px 0;
}

.sidebar h2 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.sidebar ul li {
    padding: 15px;
    border-bottom: 1px solid cyan;
    border-top: 1px solid cyan;
}

.sidebar ul li a {
    color: white;
    display: block;
}

.sidebar ul li a .fas, .far {
    width: 25px;
}
.sidebar ul li a:hover {
    color: cyan;
}