.sidemenu {
    float: left;
    width: 15%;
    height: 127%;
    background-color: #1b1b1b;
    transition: .5s;
}
/*.sidemenu .closebtn {*/
/*    padding: 8px 8px 8px 90%;*/
/*    text-decoration: none;*/
/*    font-size: 25px;*/
/*    color: #818181;*/
/*    display: block;*/
/*    transition: 0.3s;*/
/*}*/

/*.openbtn {*/
/*    display: none;*/
/*    z-index: 10;*/
/*    margin: 20px 20px 0 10px;*/
/*    position: absolute;*/
/*    border: 1px solid cyan;*/
/*    background-color: #1b1b1b;*/
/*    color: white;*/
/*    width: 150px;*/
/*}*/

/*.openbtn:hover {*/
/*    color: cyan;*/
/*    border-radius: 5px;*/
/*    box-shadow: 0 0 5px #33ffff,*/
/*    0 0 5px #66ffff;*/
/*    cursor: pointer;*/
/*}*/

@media (max-width: 760px) {
    .sidemenu {
        display: none;
    }

    .openbtn {
        display: none;
    }
}

.prodcut_name {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.sidemenu ul {
    width: 100%;
}

.sidemenu ul li a {
    color: white;
    display: block;
    line-height: 60px;
}
.sidemenu ul li {
    text-align: center;
    line-height: 60px;
    border-bottom: 1px solid cyan;
}

.sidemenu ul li:first-child {
    border-top: 1px solid cyan;
}

.sidemenu ul li a:hover {
    color: cyan;
}

.add_category_wrap {
    padding-top: 20px;
    text-align: center;
}

.cat_name {
   text-align: center;
   margin: 0 0 5px 0;
   height: 25px;
   border: 1px solid cyan;
   background: #555555;
   color: white;
   outline: none;
}

.delete_category_wrap {
    text-align: center;
    padding-top: 15px;
}
