.sidemenu_transform {
    width: 100%;
    display: none;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.sidemenu_transform .icon_box {
    position: relative;
    width: 40px;
    height: 40px;
    background: #1b1b1b;
    box-sizing: border-box;
    line-height: 40px;
    border-right: 1px solid cyan;
}

.sidemenu_transform .icon_box:last-child {
    border-right: none;
}

.sidemenu_transform .icon_box a {
    color: white;
    display: block;
}

.sidemenu_transform .icon_box:hover a {
    color: cyan;
}

@media (max-width: 760px) {
    .sidemenu_transform {
        display: flex;
    }
}