@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    /*background: linear-gradient(120deg, grey, white);*/
    background-color: #adadad;
    height: 100vh;
}

.container {
    height: 100%;
}

@media (max-width: 760px) {
    .container .main {
        float: left;
        width: 100%;
    }
}

.main {
    float: right;
    width: 85%;
    height: 100%;
    transition: .5s;
}

.content {
    padding: 20px 50px 50px 50px;
}

.slider_show_wrap {
    margin-left: auto;
    margin-right: auto;
    display: table;
    border: 3px solid #1b1b1b;
}


.login_form_wrap {
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.register_form_wrap {
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.edit_form_wrap {
    margin-left: auto;
    margin-right: auto;
    display: table;
}

@media (max-width: 1040px) {
    .slider_show_wrap {
        display: none;
    }
}

.most_wanted_items_wrap {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sticks_wrapper {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.items_wrapper {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.product_detail_wrap {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.user_datails_wrap {
    margin-top: 20px;
    margin-bottom: 20px;
}

.add_product_form_wrap {
    width: 99%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.add_address_form_wrap {
    width: 99%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.payment_wrapper {
    width: 99%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.edit_profile_form_wrap {
    width: 99%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.logout_button_wrap {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.cart_wrapper {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.edit_product_form_wrap {
    width: 99%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.order_confirmed_wrapper {
    width: 99%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.order_detail_wrapper {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.table_wrapper {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content table {
    margin-left: 50%;
    transform: translateX(-50%);
}











