@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    list-style: none;
    text-decoration: none;
}

html {
    height: 100%;
}

body {
    background: #f2f2f2;
    height: 100%;
}

.container {
    height: 100%;
}

@media (max-width: 760px) {
    .container .main {
        float: left;
        width: 100%;
    }
}

.main {
    float: right;
    width: 85%;
    height: 100%;
}

.content {
    padding: 50px;
}

.slider_show_wrap {
    margin-left: auto;
    margin-right: auto;
    display: table;
    border: 3px solid #1b1b1b;
}











